<%- include('../partials/main_header.ejs') %>

<div class="container">
    <div>
        <img src="/images/missionstatement.png" width="800px" alt="Mission Statement" class="img-fluid mx-auto d-block m-5">
    </div>
    <div>
        <p class="fs-4 my-5 text-center">
            Making a killer music production isn't easy to do on your own. 
            There's a profound level of complexity that's involved, making it hard to take your music to the next level if you're working alone.
            <br><br>
            That's where we come in.
            <br><br>
            Here at My Studio, we believe in opening up avenues for artists to connect. 
            Instead of limiting your options to merely local musicians, 
            here you can collaborate with likeminded souls from all around the world who share your artistic vision.
            <br><br>
            If you have a song that's unfinished, post it and wait for a fellow artist to collaborate with you. It's really that simple!
            <br><br>
            Or, if you'd rather contribute to someone else's project, feel free to browse through songs that were posted by others. You may find that you have something unique to add.
        </p>
    </div>
</div>

<%- include('../partials/footer.ejs') %>