<%- include('../partials/main_header.ejs') %>

<div class="container">
    <div>
        <img src="/images/missionstatement.png" width="800px" alt="Mission Statement" class="img-fluid mx-auto d-block m-5">
    </div>
    <div>
        <p class="fs-4 my-5 text-center">
            Making a killer music production isn't easy to do on your own. 
            There's a profound level of complexity that's involved, making it hard to take your music to the next level if you're working alone.
            <br><br>
            That's where we come in.
            <br><br>
            Here at My Studio, we believe in opening up avenues for artists to connect. 
            Instead of limiting your options to merely local musicians, 
            here you can collaborate with likeminded souls from all around the world who share your artistic vision.
        </p>
    </div>
</div>

<%- include('../partials/footer.ejs') %>