<%- include('../partials/open_header.ejs') %>

    <div class="container">
        <div class="row">
            <div id="header">
                <img src="./images/meetmusicians.png" alt="Meet musicians across the globe" width="1000px" class="img-fluid mx-auto d-block m-2">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-3">
                <img src="./images/signup.png" alt="" width="200px" class="mx-5 my-3 img-fluid mx-auto d-block">
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-dark text-white fw-bold" id="basic-addon1">@</span>
                        <input type="text" name="username" class="form-control fw-bold" aria-label="username" placeholder="Enter Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="email" class="form-control fw-bold" aria-label="email" placeholder="Enter Email" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control fw-bold" aria-label="password" placeholder="Enter Password" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="confirmPass" class="form-control fw-bold" aria-label="confirm_password" placeholder="Confirm Password" aria-describedby="basic-addon2">
                    </div>
                    <button class="form-control fw-bold bg-warning-subtle" type="submit">Sign Up</button>
                </form>
                <h3 class="fw-bold text-center my-3"><a href="/aboutus">Learn More</a></h3>
            </div>
            <div id="main_logo" class="col-md-6">
                <img src="./images/FullLogo_Transparent_NoBuffer.png" alt="My Studio" width="650px" class="img-fluid mx-auto d-block m-5">
            </div>
            <div class="col-md-3">
                <img src="./images/alreadysigned.png" alt="Already Signed Up" width="250px" class="img-fluid mx-auto d-block">
                <button onclick="location.href='/login'" class="form-control w-100 my-3 fw-bold fs-1 bg-warning-subtle">Log In Here</button>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>