<%- include('../partials/main_header.ejs') %>

<div class="container w-50">
    <img src="./images/login2.png" alt="" width="200px" class="mx-5 my-4 img-fluid mx-auto d-block">
    <div class="input-group mb-3">
        <span class="input-group-text bg-dark text-white fw-bold" id="basic-addon1">@</span>
        <input type="text" class="form-control fw-bold" aria-label="username" placeholder="Enter Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control fw-bold" aria-label="password" placeholder="Enter Password" aria-describedby="basic-addon2">
    </div>
    <button class="form-control fw-bold bg-warning-subtle" type="submit">Log In</button>
</div>
<h3 class="fw-bold text-center my-3"><a href="/">Not a User? Sign Up Here</a></h3>

<%- include('../partials/footer.ejs') %>