<%- include('../partials/main_header.ejs') %>

<img src="./images/users.png" alt="" width="200px" class="mx-5 my-5 img-fluid mx-auto d-block">

<% users.forEach(user1 => { %>
    <div class="container w-50">
        <div class="card my-3">
            <div class="card-body d-flex justify-content-between">
                <h1 class="card-title"><%= user1.username %></h1>
                <h6 class="card-subtitle mb-2 text-muted"><%= user1.email %></h6>
            </div>
        </div>
    </div>
<% }) %>
            
<%- include('../partials/footer.ejs') %>