<%- include('../partials/main_header.ejs') %>

<div class="container w-50">
    <img src="./images/users.png" alt="" width="200px" class="mx-5 my-5 img-fluid mx-auto d-block">
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body d-flex justify-content-between">
            <h2 class="card-title">Username</h1>
            <h5 class="card-subtitle mb-2 text-muted">Info about this user</h6>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>