<%- include('../../partials/main_header.ejs') %>

<div class="container">

    <img src="/images/addrevision.png" width="400px" alt="Add Revision" class="img-fluid mx-auto d-block m-5">

    <form action="" method="post" class="form-group">
        <div class="my-2">    
            <label for="description">Add Description</label>
            <input required type="text" name="description" value="" id="description" class="form-control" placeholder="Explain Your Revision"/>
        </div>
        <div class="my-2">    
            <label for="songFile">Add Song File</label>
            <input required type="text" name="songFile" id="songFile" class="form-control" placeholder="Add Song File"/>
        </div>
        <button type="submit" class="btn btn-warning form-control my-3">Add Revision</button>
    </form>

</div>

<%- include('../../partials/footer.ejs') %>