<%- include('../../partials/main_header.ejs') %>

    <div class="container">
        <h1 class="my-4 text-center">Song Library</h1>
        <a href="/posts/new" class="btn btn-success">Upload New Song</a>


        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <div class="card-text mb-2"><%= post.description %></div>
                    <!-- <audio id="audio1">
                        <source src="../../../public/songs/i_miss_you.mp3" type="audio/mpeg">
                    </audio> -->
                </div>
            </div>
        <% }) %>

    </div>

<%- include('../../partials/footer.ejs') %>