<%- include('../../partials/main_header.ejs') %>

<div class="container">

    <h1 class="my-4 text-center">Upload New Song</h1>

    <%- include ('formfields') %> 

</div>

<%- include('../../partials/footer.ejs') %>