<%- include('../../partials/main_header.ejs') %>

<div class="container">

    <img src="/images/upload.png" width="450px" alt="Upload Song" class="img-fluid mx-auto d-block m-5">

    <%- include ('formfields') %> 

</div>

<%- include('../../partials/footer.ejs') %>