<%- include('../../partials/main_header.ejs') %>

<div class="container">

    <h1 class="mb-4">Upload New Song</h1>

    <%- include ('formfields') %> 

</div>

<%- include('../../partials/footer.ejs') %>